@font-face {
  font-family: delius-swash-caps;
  src: url(DeliusSwashCaps-Regular.ttf);
  font-weight: normal;
}
.footer-container {
  padding : 4% 5% 4% 5%;
  width: 100vw;
  height: auto;
  /*max-height: 50vh;*/
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: red;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "twitter-i twitter" "youtube-i youtube" "instagram-i instagram" "pinterest-i pinterest";
  grid-column-gap: 3%;
  grid-row-gap: 2em;
  background-color: black;
}
.footer-container div{height: 100%;background-color: transparent;}

.footer-container img {
  display: block;
  height: 80%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-container a {
  display: block;
  min-height: 60px;
  height: auto;
  width: auto;
  font-family: "delius-swash-caps", "sans-serif";
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  background-color: red;
  position: relative;
  padding: 6% 6% 6% 15%;
}

.twitter {
  grid-area: twitter;
}
.youtube {
  grid-area: youtube;
}

.instagram {
  grid-area: instagram;
}

.pinterest {
  grid-area: pinterest;
}
.pinterest-i img {height: 65%}

.twitter-i {
  grid-area: twitter-i;
}
.youtube-i img{height: 60%}
.youtube-i {
  grid-area: youtube-i;
}


.instagram-i {
  grid-area: instagram-i;
}

.pinterest-i {
  grid-area: pinterest-i;
}
.pinterest-i img {}

@media only screen and (orientation: landscape){
  .footer-container{
    grid-row-gap: 1em;
  }
  .footer-container div:hover, .footer-container a:hover {
    background-color: white;
    transition-duration: 600ms;
  }
.footer-container a {padding : 3%;font-size: 20px}

}
