@charset 'UTF-8';
html, html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	scroll-behavior: smooth;
}

body {
	font-family: arial, sans-serif;
	font-size: 2.25vw;
	background: transparent;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

button:focus {
	outline: none !important;
}

.hero {
	height: 100vh;
	width: 100vw;
	color: #d3de7d;
	background-color: black;
	font-family: acumen-pro-extra-condensed, sans-serif;
	bottom: 0;
	text-align: center;
	text-decoration: none;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.hero-content {
	display: block;
	z-index: 100;
}

.hero-leadin {
	font-size: 2em;
	font-weight: 100;
	line-height: 1.55;
	letter-spacing: .3em;
	text-transform: uppercase;
	color: wheat;
}
.intro-video {
	display: block;
	position: absolute;
}
.hero-intro {
	z-index: 100;
}

.hero-title {
	margin-top: 60%;
	font-weight: 300;
	font-size: 4em;
	text-transform: uppercase;
	display: inherit;
}

.hero-byline {
	margin-top: 1vh;
	font-weight: 200;
	position: relative;
	font-size: 2em;
}

.hero-arrow {
	position: absolute;
	bottom: 1%;
	left: 50%;
}

.hero-arrow img {
	max-width: 1em;
}

.quote {
	background: linear-gradient(black 1%, darkkhaki 50%, #533b02 80%, #4e3801 100%);
	height: 18vh;
	width: 100vw;
	font-family: asul;
	font-size: 2em;
	padding-top: 15px;
}

.quote span center a {
	text-decoration: none;
	color: goldenrod;
	text-shadow: 1px 1px 4px brown;
	font-size: 1.15em;
}

.quote :nth-child(2) {
	font-size: 1em;
	font-style: italic;
	margin-top: 0.4em;
}

.site-logo img {
	position: fixed;
	width: 9em;
	top: 2%;
	left: 2%;
	z-index: 500;
}

.quote span center a:hover {
	text-shadow: 2px 2px 10px brown;
}
/* NOTE: navigation area begins */
menu {
	background: #986418;
}

.navigation {
	display: block;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.78)/*rgba(295, 170, 70,1)*/;
	background-blend-mode: overlay;
}
.nav-btn {
	background-color: khaki;
	border: none;
	width: 6em;
	margin-bottom: 1vh;
	margin-top: 1vh;
	margin-left: 40%;
	border-radius: 10px;
	font-size: 20px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
#nav-btn-close {
	color: white;
	width: 1em;
	height: 1em;
	margin: 15% 15% 0 82%;
	background-color: transparent;
	border: none;
	font-size: 28px;
	font-weight: bold;
}

.content {
	background-color: black;
	margin: 5% auto;
	padding: 20px;
	border: #262626 1px solid;
	width: 80%;
	height: auto;
}

#navigation {
	display: none;
}

.list-nav li a {
	color: grey !important;
	text-decoration: none;
	z-index: 1000;
	font-size: 20px;
	line-height: 50px;
}
.nav-element-1{grid-area: 11}
.nav-element-2{grid-area: 12}
.nav-element-3 {grid-area: 21}
.nav-element-4{grid-area: 22}
.nav-element-5 {grid-area: 31}
.nav-element-6 {grid-area: 32}
.nav-element-7 {grid-area: 41}
.nav-element-8 {grid-area: 42}
.list-nav {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-row-gap: 4em;
	grid-template-areas:
		"11 12"
		"21 22"
		"31 32"
		"41 42";
}
#podcasti {
	width: 70px;
	z-index: 200;
}

#wti {
	width: 4em;
}
/* NOTE: navigation area ends */
/* NOTE: directory area begins */
.directory {
	display: block;
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	background: radial-gradient(circle at 100% 185%, #948A00 40%, #D08720 45%, #986418 60%, #4E3801 90%);
	background-size: cover;
	padding: 10vw;
}

.directory .directory-container {
	height: 100%;
	background-color: transparent;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "worldtour" "politics" "soon";
}

.directory-container li {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: transparent
}

.directory:first-child {
	grid-area: worldtour;
}

.directory:nth-child(2) {
	grid-area: politics;
}

.directory:nth-child(3) {
	grid-area: soon;
}

#worldtour, #politics {
	width: 60vw;
	border-radius: 8em;
	max-width: 14em;
}

.nba {
	display: block;
	width: auto;
	height: 14em;
	background-color: transparent;
}
.nba div {
	display: inline;
}
.nba div div{
	display: block;
}

.sphere-l, .sphere-r {
	display: inline-block !important;
	width: 8em;
	height: 14em;
	background-color: red;
}

.nba .text {
	display: inline-block;
	position: relative;
	top: -3em;
	background-color: gray;
	width: 0em;
	height: 8em;
	z-index: 0;
	opacity: 1;
}
#comingSoon {
	display: inline-flex;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}
.sphere-l {
	position: relative;
	border-radius: 9em 0 0 9em;
/*	left: 5em;*/
	z-index: 100;
}

.sphere-r {
	position: relative;
/*	top: -14em;
	left: 15em;*/
	border-radius: 0 9em 9em 0;
	z-index: 100;
}


@keyframes panin {
	from{width: 0em;}
	to{width: 15em;}
}
@keyframes panin-r {
	from{width: 15em;}
	to{width: 0em;}
}
