@charset 'UTF-8';
html, html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	scroll-behavior: smooth;
}

body {
	font-family: arial, sans-serif;
	font-size: 2.25vw;
	background: transparent;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

button:focus {
	outline: none !important;
}

header {
	display: block;
	position: fixed;
	width: 5em;
	max-width: 120px;
	top: 2%;
	left: 2%;
	z-index: 500;
}

.site-logo img {
	width: 100%;
}

.hero {
	display: block;
	height: 100vh;
	color: #d3de7d;
}

.hero-leadin {
	position: relative;
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.55;
	margin-bottom: -9em;
	padding-top: 4em;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: wheat;
	z-index: 100;
}

.hero-content {
	background-color: black;
	font-family: acumen-pro-extra-condensed, sans-serif;
	height: 60vh;
	width: 100vw;
	text-align: center;
	text-decoration: none;
}
.intro-video {
	display: none;
}

.hero-intro {
	display: block;
	height: 40vh;
	width: 100vw;
	padding-top: 0%;
	background-color: #000;
	text-align: center;
	letter-spacing: 0.05em;
}

.hero-title {
	position: relative;
	line-height: 1.7em;
	font-weight: 300;
	font-size: 1.8em;
	text-transform: uppercase;
	display: block;
	z-index: 100;
}

.hero-byline {
	position: relative;
	font-weight: 200;
	position: relative;
	font-size: 1em;
	z-index: 100;
}

.hero-arrow {
	position: absolute;
	bottom: 1%;
	left: 50%;
}

.hero-arrow img {
	width: 10px;
	max-width: 2em;
}

.quote {
	display: block;
	height: 35vh;
	width: 100vw;
	background: linear-gradient(black 1%, darkkhaki 50%, #69480A 100%), yellow;
	padding-top: 2%;
}

.quote span center a {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: rgb(241, 196, 82);
	text-shadow: 1px 1px 1px rgb(126, 122, 67);
	font-size: 1.1em;
}

.quote :nth-child(2) {
	font-family: acuta, serif;
	font-size: 01em;
	font-style: oblique;
	font-weight: 100;
	margin-top: 0.4em;
}

.quote span center a:hover {
	text-shadow: 2px 2px 10px brown;
}
menu {
	display: block;
	width: 100vw;
	padding: .5% 0 .5% 0;
	background: #986418;
}
.navigation {
	display: block;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.78);
	background-blend-mode: overlay;
}

.nav-btn {
	display: block;
	background-color: khaki;
	border: none;
	width: 6em;
	height: 1.6em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1em;
	font-size: 20px;
	font-family: sans-serif;
}


#nav-btn-close {
	color: white;
	width: 1em;
	height: 1em;
	margin: 2% auto 0 75%;
	background-color: transparent;
	border: none;
	font-size: 28px;
	font-weight: bold;
}

.content {
	background-color: black;
	margin: 1% auto;
	padding: 20px;
	border: #262626 1px solid;
	width: 60%;
	height: auto;
}

.list-nav li a {
	color: grey !important;
	text-decoration: none;
	z-index: 1000;
	font-size: 20px;
	line-height: 50px;
}
.list-nav li a:hover, .list-nav li img:hover {
	text-shadow: 0.5px 0.5px 1px white !important;
	box-shadow: 0 0 3px .5px yellow;
}
.list-nav li img {
	display: box;
	box-shadow: 0 0 2px .5px white;
	background-color: #363535;
}
.list-nav li {
	list-style-type: none;
}
.list-nav {
	padding: 0 1% 1%;
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: 1fr(4, repeat);
	grid-column-gap: 5vw;
	column-fill: balance;
}

#podcasti {
	width: 70px;
}

#wti {
	width: 4em;
}
/* NOTE: navigation ends */
.directory {
	display: block;
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	background: radial-gradient(circle at 100% 185%, rgb(246, 194, 50) 20%, #D08720 45%, #986418 60%, #4E3801 90%);
	background-size: cover;
	padding-top: 35vh;
	padding-bottom: 35vh;
}

.directory-container {
	display: grid;
	height: 35vh;
	padding-top: 3vh;
	padding-left: 6vw;
	background-color: transparent;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: ". . ." "worldtour politics nba" ". . .";
	overflow-x: auto;
	overflow-y: hidden;
}

.directory-container li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.directory-container img:hover {
	border: solid 2px white;
}

.worldtour {
	grid-area: worldtour;
}

.politics {
	grid-area: politics;
}

.nba {
	grid-area: nba;
	display: block;
	width: auto;
}
.nba div{display: inline-flex;}

.sphere-l, .sphere-r {
	width: 4em;
	height: 30vh;
	background-color: red;
}

.nba .text {
	position: relative;
	top:-2em;
	background-color: gray;
	width: 0em;
	height: 4em;
	z-index: 300;
	opacity: 1;
}
#comingSoon {
	display: inline-flex;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}
.sphere-l {
	position: relative;
	border-right: 4px solid rgb(65, 65, 65);
	border-radius: 20vh 0 0 20vh;
}

.sphere-r {
	position: relative;
	border-left: 4px solid rgb(65, 65, 65);
	border-radius: 0 20vh 20vh 0;
}


@keyframes panin {
	from{width: 0em;}
	to{width: 4em;}
}
@keyframes panin-r {
	from{width: 4em;}
	to{width: 0em;}
}

#worldtour, #nba, #politics {
	height: 30vh;
	border-radius: 8em;
	max-width: 14em;
	box-shadow: 0px 0px 8px 0.5px rgb(42, 33, 24);
}



@media only screen and (min-width: 1000px) {
	.hero-arrow img {
		width: 0.8vw
	}
}
