#scrollman {
	display: block;
	position: absolute;
	top: 80%;
	bottom: 1%;
	left: 50%;
}
#scrollman img{
	border-radius: 0.9rem;
	background-color: #fff;
}
#show{opacity: 1;}
.show-grid {
	display: grid;
	grid-template-columns: 1fr 7fr 1fr 7fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "lg lg lg lg lg" ". s1 . s2 ." ". s3 . s4 .";
	grid-row-gap: 3vh;
	height: 100%;
	padding-bottom: 3vh;
	padding-top: 3vh;
}
.wt-logo{grid-area: lg;}
.s1{grid-area: s1; }
.s2{grid-area: s2; }
.s3{grid-area: s3; }
.s4{grid-area: s4; }

.s1i,.s2i, .s3i, .s4i {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.wt-logo-img{
	display: block;
	height: 100%;
	width: 65%;
	max-height: 100%;
	max-width: 50%;
	margin: 0 auto auto;
	background-color: red;
}
.wt-logo-img img{
	margin: 0 auto auto!important;
	border-left: solid red 0.4rem;
	border-right: solid red 0.4rem;
	border-bottom: solid red 0.4rem;
}
.show img {
	display: block;
	margin:0 auto auto auto;
	width: 100%;
	height: auto;
	max-height: 100%;
}
.content-viewer{
	display: block;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	background-color: rgba(253,52,52,1.00);
	overflow: hidden;
}
.content-text{
	display: block;
	background-color: grey;
	height: 90vh;
	width: 97vw;
	margin: 5vh 0 5vh 0;
	overflow: hidden;
}
.content-text iframe{
	padding: 8px;
	height: 100%;
	width: 100%;
}
.autoscroll-button,.pause-button{
	display: block;
	position: absolute;
	height: 5vh;
	font-weight: 400;
	background-color: transparent;
	color: black;
	border: solid 2px gray;
}
.autoscroll-button{	right: 3vw;}
.pause-button{color: red;background-color: white;margin-left: 40%;}
/*animations*/
@keyframes fadein{
	0%{background-color:  rgba(248, 73, 29, 0.1);}
	100%{overflow:  rgba(248, 153, 29, 1.00);}
}
@media only screen and (orientation:landscape){
	.lead-title{
		position: relative;
		left: 20%;
	}
	.show-grid{
		display: flex;
		position: relative;
		flex-direction: row;
		align-items: center;
		height: 60%;
		top: 20%;
		padding: 0;
		margin-top: auto;
		margin-bottom: auto;
		background-color: red;
		overflow-x: auto !important;
	}
.wt-logo {
	width: auto;
	margin-left: 1%;
	padding: 0;
	overflow-x: auto !important;
}
	.wt-logo-img {
		background-color: red;
		margin-left: 0;
		max-width: 100%;
		max-height: auto;
		width: auto;
		height: auto;
	}
	.wt-logo img{
		border:none;
		height: 100%;
		width: 100%;
	}
	.s1{margin-left: 2%	}
	#case1{border: 2px white}

}
