@charset 'UTF-8';
.audio-player{
	display: none;
	height: 35vw;
	width: 100vw;
	position: fixed;
	bottom: 0px;
	z-index: 2000;
	overflow: hidden;
}
.close-audio {
	display: block;
}
.close-audio img{
	display: block;
	margin-left: 95%;
}
.player-container {
	background-color:rgba(0,0,0,0.79);
	margin: auto;
}
.player-bg{
	display: block;
	background-color: black;
	width: 96vw;
	height: 27vw;
	margin: auto auto auto auto;
	border-radius: 4vw;
	overflow: hidden;
}

.thumbnail {
	display: block;
	background-color: yellow;
	width: 22.5vw;
	height: 22.5vw;
	margin: auto auto auto 5%;
	position: relative;
	top: 2.5vw;
	z-index: 2300;
}
#cd-cover {
	display: block;
	width: 100%;
	max-width: 100%;
}
.play-button {
	display: block;
	width: 22.5vw;
	height: 22.5vw;
	margin: auto 5% auto auto;
	position: relative;
	top: -20vw;
	z-index: 2300;
}

#gonogo-btn{
	width: 100%;
	width: 20vw;
}
.player-text {
	display: block;
	background-color: transparent;
	height: 22.5vw;
	width: 37vw;
	position: relative;
	top: -42.5vw;
	margin: auto;
	color: white;
	padding: 4vw;
	font-size: 0.5em;
	
}
.top_progress-bar{
	display: block;
	background-color: red;
	height: 1vh;
	width: 0%;
	border: solid rgba(47,0,0,0.89) 1px;	
}
.bottom_progress-bar{
	display: block;
	background-color: white;
	height: 1vh;
	border: solid rgba(47,0,0,0.89) 1px;
	width: 0%;
	margin-bottom: 0;
}
.test {
	display: block;
	height: 100vh;
	background-color: red
}

.test2 {
	display: block;
	height: 100vh;
	background-color: turquoise;
}
