/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Adelle Sans ARA Semibold";
    src: url("http://db.onlinewebfonts.com/t/675d51746eacc52c87a8ef0b7f343718.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/675d51746eacc52c87a8ef0b7f343718.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/675d51746eacc52c87a8ef0b7f343718.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/675d51746eacc52c87a8ef0b7f343718.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/675d51746eacc52c87a8ef0b7f343718.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/675d51746eacc52c87a8ef0b7f343718.svg#Adelle Sans ARA Semibold") format("svg"); /* iOS 4.1- */
}
