@charset 'UTF-8';

html,
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	z-index: 0;
}

.site-logo img{
	position: fixed;
	width: 4.5em;
	top: 2%;
	left: 2%;
	z-index: 1000;
}
.hero {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	background-color: #FFBF00;
}
.hero-content{
	display:block;
	font-family: adelle-sans, sans-serif;
	font-style: bold;
	font-weight: 800;
}
.hero-title{
	display: block;
	position: absolute;
	padding-top: 46vh;
	padding-left: 35vw;
	font-weight: 500;
	font-size: 1.52em;
}